*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5%;
    height: 100%;
}



.login-main input{
    padding:0.4%;
    margin:0.7%;
    width:25%;
    border-radius: 5px;
}

.login-main input:focus{
    background-color:#efe8ff ;
}

.login-main a{
    text-decoration: none;
    color:#5E17EB;

}

.sign-in{
    margin:3%;
    padding:0.3% 2%;
    border-radius: 10px;
    font-size:clamp(0.8rem, 2.5vw, 1.2rem);
    background-color:#5E17EB;
    color:white;
    border:none;
}

.sign-in:hover{
    opacity:85%;
    transition:all 0.5;
}


@media screen and (max-width:800px){

    .login-main input{
        width:70%;
        padding:2%;
    }

    .sign-in{
        margin:5%;
        font-size:clamp(1.2rem, 2.5vw, 3rem);

    }

    .login-main{
        margin:40% auto;
    }
}